# Binaries for programs and plugins
bitcoin-exporter
*.exe
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# Dependency directories
vendor/

# Logs
logs/
*.log

# Build directories
bin/
build/
dist/

# Temporary files
tmp/
temp/

# MacOS files
.DS_Store

# Editor directories and files
.idea/
.vscode/

# Ignore Git files
.git/
.gitignore
